@charset "utf-8";
* {margin:0; padding:0;}
a {text-decoration: none; color: #000;}
li {list-style: none;}
img {vertical-align: middle; _width:100%;}
* {box-sizing: border-box;}
.clear:after {content: ''; display: block; clear: both;}
table { 
        border-collapse:collapse; 
        table-layout:fixed;  
    }
caption {display: none;}